#titleDiv {
    /*position: fixed;*/
    width:100%;
    height: 800px;
    background-color: whitesmoke;
    color: darkcyan;
    font-family: 'Josefin Slab', serif;
    font-size: 3em;
    text-align: center;
}

p{
    text-align: center;
    font-family: 'Josefin Slab', serif;
    color: darkcyan;
    font-size: 2em;
}

#aboutCircle {
    width: 200px;
    height: 120px;
    margin: auto;
    padding: 20px;
    position: relative;
    top: -50px;
    border-radius: 50%;
    background-color: darkcyan;
    color: whitesmoke;
    text-align: center;
    font-family: 'Josefin Slab';
}

#aboutIcon {
    display: none;
    width: 100%;
    height: 100%;
    margin-left: 3px;
    margin-top: 0px;
    /*padding: 20px;*/
    stroke: whitesmoke;
    stroke-width: 1;
    fill: none;
    stroke-linecap: round;
    /*border: solid indianred;*/
    /*position: relative;*/
    /*top: -75px;*/


    /*fill: #FaFaFa; */
}
#portfolioCircle {
    width: 200px;
    height: 120px;
    margin: auto;
    padding: 20px;
    position: relative;
    top: -50px;
    border-radius: 50%;
    background-color:whitesmoke;
    color: darkcyan;
    text-align: center;
    font-family: 'Josefin Slab';
    /*border: solid whitesmoke;*/
}

#portfolioIcon{
    width: 80%;
    height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    display: none;
    right: 20px;
    padding: 20px;
    stroke:  darkcyan;
    stroke-width: 1;
    fill: none;
    stroke-linecap: round;
    /*border: solid indianred;*/
}

#contactCircle {
    width: 200px;
    height: 120px;
    margin: auto;
    padding: 20px;
    position: relative;
    top: -50px;
    border-radius: 50%;
    background-color: darkcyan;
    color: whitesmoke;
    text-align: center;
    font-family: 'Josefin Slab';
}

#contactIcon{
    width: 100%;
    height: 100%;
    margin-left: -20px;
    margin-top: 0%;
    display: none;
    padding: 20px;
    stroke: whitesmoke;
    stroke-width: 1;
    fill: none;
    stroke-linecap: round;
    /*border: solid indianred;*/
}

#aboutDiv{
    position: relative;
    width:100%;
    height: 800px;
    background-color: darkCyan;
}

#portfolioDiv{
    position: relative;
    width:100%;
    height: 1800px;
    background-color: whitesmoke;
}

#contactDiv{
    /*position: relative;*/
     width:100%;
     height: 600px;
     background-color: darkcyan;
 }



.navLinkGroup {
    margin: auto;
    width: 70%;

}

.navLink {
    padding-bottom: 1%;
    padding-top: 1%;
    display: block;
    float:left;
    width: 25%;
}

.navLink :hover {
background-color: darkcyan;
color: whitesmoke;
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: auto;
    width: 70%;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;

}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_1_of_3 {
    width: 30%;
    margin: 3%;
}

.span_1_of_2 {
    width: 48%;
    margin: 2%;
}

.imgWrap {
    position: relative;

}

.span_1_of_3:hover{
    opacity: .3;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_3_of_3, .span_1_of_2, .span_1_of_3 { width: 100%; }
}



