#titleDiv {
    color: whitesmoke;
    background-color: darkcyan;
    width: 100%;
    height:1000px;
    padding: 10%;
}

#aboutIcon {
    display: none;
    width: 150px;
    height: 150px;
    margin: auto;
    padding: 20px;
    stroke: darkCyan;
    stroke-width: 1;
    fill: none;
    stroke-linecap: round;
    /*fill: #FaFaFa; */
}

#portfolioIcon{
    width: 150px;
    height: 150px;
    margin: auto;
    display: none;
    padding: 20px;
    stroke: whitesmoke;
    stroke-width: 1;
    fill: none;
    stroke-linecap: round;
}

#contactIcon{
    width: 150px;
    height: 150px;
    margin: auto;
    display: none;
    padding: 20px;
    stroke: darkCyan;
    stroke-width: 1;
    fill: none;
    stroke-linecap: round;
}

#aboutDiv{
    width:100%;
    height: 1200px;
    background-color: whitesmoke;
}

#portfolioDiv{
    width:100%;
    height: 1200px;
    background-color: darkCyan;
}

#contactDiv{
     width:100%;
     height: 1200px;
     background-color: whitesmoke;
 }



#navBar {
    position:fixed;
    background-color: whitesmoke;
    border: solid darkcyan;
    width:100%;
    margin: 0%;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    font-size: 1.5em;
    color: darkcyan;
}

.navLinkGroup {

    margin: auto;
    width: 70%;

}

.navLink {
    padding-bottom: 1%;
    padding-top: 1%;
    display: block;
    float:left;
    width: 25%;
}

.navLink :hover {
background-color: darkcyan;
color: whitesmoke;
}